sites/default/files
sites/default/private
sites/default/settings.php
cache/
files/
.htaccess

#Excluding eclipse files
.settings
.buildpath
.project
.settings/*

# Excluding files saved in the filedepot private folder
filedepot_private/
filedepot_private/*

